<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
<body>
    {{ $data := index .Site.Data .Site.Language.Lang }}
    
    <div class="content">
        <div class="content__left">
            <h1 class="mainHeading">{{.Site.Data.content.BasicInfo.FirstName}} <span>{{.Site.Data.content.BasicInfo.LastName}}</span></h1>

            {{ partial "_exists.html" (slice "content.Profile" "_profile.html" $data .Site.Data) }}
            {{ partial "_exists.html" (slice "content.Experience" "_experience.html" $data .Site.Data) }}
            {{ partial "_exists.html" (slice "content.Education" "_education.html" $data .Site.Data) }}
            {{ partial "_exists.html" (slice "content.Research" "_research.html" $data .Site.Data) }}
        </div>

        <div class="content__right">
            {{ partial "_avatar.html" .Site.Data }}
            {{ partial "_contacts.html" .Site.Data }}
            {{ partial "_skills.html" .Site.Data }}
            {{ partial "_languages.html" .Site.Data }}
            {{ partial "_diplomas.html" .Site.Data }}
            {{ partial "_interests.html" .Site.Data }}
        </div>

    </div>
</body>
</html>